.login {
  width: 100%;
  position: relative;
  right: 40px;
  margin: 6% auto;
  .login_box {
    padding: 20px;
    width: 300px;
    min-height: 400px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    .form_input {
      text-align: center;
      margin-top: 60px;
      .form_group {
        margin-bottom: 20px;
        input {
          padding: 10px;
          width: 90%;
          font-size: 16px;
          border-radius: 10px;
          border: 2px solid var(--color-light);
        }
        button {
          width: 90%;
          padding: 10px;
          border-radius: 10px;
          background-color: var(--color-bg-variant);
          color: var(--color-white);
          font-size: 16px;
          cursor: pointer;
          font-weight: 600;
        }
      }
    }
  }
}
/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 600px) {
  .login {
    width: 100%;
    position: relative;
    right: 30px;
  }
}
