.advert {
  padding: 20px;
  h3 {
    color: var(--color-ash);
    margin-bottom: 0px;
  }
  .alert_info {
    color: var(--color-red);
  }
  .advert_box {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    background-color: #fff;
    .inner_form_box {
       input {
            padding: 5px;
            width: 315px;
            border-radius: 5px;
            margin: 8px 0px;
            margin-top: 0px;
            border: 2px solid var(--color-light);
          }
      .inner_form {
        .form_group {
          img {
            width: 328px;
            height: 275px;
          }
          .fa-upload {
            font-size: 22px;
            color: var(--color-ash);
            margin: 0px 5px;
            cursor: pointer;
          }
          small {
            margin-top: 8px;
          }
         
        }
      }
      .submit_btn {
        margin-top: 20px;
        button {
          background-color: var(--color-hover);
          color: var(--color-white);
          width: 300px;
          padding: 8px;
          border-radius: 5px;
          font-size: 18px;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
