:root {
  --color-bg: #f7f7f7;
  --color-bg-variant: #003147;
  --color-hover: #03a9f4;
  --color-primary: #478515;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: #b4b4b4;
  --color-ash: #6c6c6c;
  --color-dark: #2e2e2e;
  --color-red: #e71856;
  --color-bg-btn: #e6e4e4;

  --transition: 0.5s;

  --container-width-lg: 75%;
  --container-width-md: 98%;
  --container-width-sm: 98%;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  background-color: var(--color-bg);
}
input {
  height: 18px;
  outline: none;
}
button{
  outline: none;
  border: none;
}
.header-container {
  width: var(--container-width-lg);
  background: var(--color-bg);
}
.app-container {
  width: var(--container-width-lg);
}

.container {
  width: var(--container-width-lg);

  margin-top: 10%;
  margin-bottom: 2%;
  /* padding: 10px; */
}
.background {
  background: var(--color-bg);
}
.d_flex {
  display: flex;
  align-items: center;
}
.container_flex {
  display: flex;
  align-content: space-between;
}
.nav_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f_flex {
  display: flex;
  justify-content: center;
}
.e_flex {
  display: grid;
  grid-template-columns: 75% 25%;
}
.n_flex {
  display: inline-flex;
  align-items: center;
}
.l_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.d_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  .e_flex {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}
/*======= MEDIA QUERIES (MEDIUM DEVICES) =======*/
@media screen and (max-width: 800px) {
  .d_grid {
    grid-template-columns: 1fr;
  }
}

/*======= MEDIA QUERIES (SMALL DEVICES) =======*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
    display: grid;
  }
  .e_flex {
    display: grid;
    grid-template-columns: 1fr;
  }
}
